## Mission1 : Netfilx and Code

In [1]:
import pandas as pd

netflix = pd.read_csv("./netflix_titles.csv")

netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

- 한국 작품은 총 얼마나 있는가?
    - country column을 기준으로 한다.
    - "South Korea"인 경우만 인정한다. ("US, South Korea"는 인정하지 않음)

In [2]:
korea_count = len(netflix[netflix['country'] == "South Korea"])
korea_count

183

## Mission2 : 가즈아!

In [3]:
upbit = pd.read_csv("./BitCoin.csv")

upbit['ma5'] = upbit['Open'].rolling(window=5).mean()


upbit = upbit[upbit['Date'] > '2016-06-01']
upbit = upbit[upbit['Date'] < '2017-07-01']

upbit

,Unnamed: 0,Date,Open,High,Low,Close,Volume,Market Cap,ma5
16,16,2017-06-09,4376.59,4617.25,4376.59,4597.12,2.172100e+09,72418700000,4406.008
17,17,2017-05-09,4228.29,4427.84,3998.11,4376.53,2.697970e+09,69954400000,4405.798
18,18,2017-04-09,4591.63,4591.63,4108.40,4236.31,2.987330e+09,75955500000,4478.162
19,19,2017-03-09,4585.27,4714.08,4417.59,4582.96,1.933190e+09,75841700000,4474.184
20,20,2017-02-09,4901.42,4975.04,4469.24,4578.77,2.722140e+09,81060600000,4536.640
...,...,...,...,...,...,...,...,...,...
620,620,2016-11-01,448.70,450.66,443.86,448.43,4.045000e+07,6761090000,438.818
621,621,2016-10-01,448.24,448.31,440.35,447.99,3.599590e+07,6752210000,442.416
622,622,2016-09-01,453.38,454.64,446.89,447.61,3.227800e+07,6828000000,446.634
623,623,2016-08-01,457.54,462.93,447.94,453.23,5.699300e+07,6888600000,451.208
624,624,2016-07-01,430.01,458.77,429.08,458.05,8.756220e+07,6472580000,447.574

In [4]:
import matplotlib.dates as mdates
import ma
# 사이즈 설정
plt.figure(figsize=(10,7))
# 제목
plt.title("Bitcoin moving Graph")

plt.xlabel('Date')
plt.ylabel('Price')

# 그래프 그리기
plt.plot(upbit['Date'], upbit['ma5'], color='#f2a900', label = 'MA-5' )

plt.legend()
plt.show()

NameError: name 'plt' is not defined